<div class="container container-flex">
    <main>
        <article class="article-featured">
            <h2 class="article-title">Breaking Bad</h2>
            <img src="" alt="" class="article-image">
            <p class="article-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, nulla ratione amet sequi ex optio animi debitis corporis cupiditate ab laudantium, illo voluptate. Dicta voluptatum incidunt commodi eveniet? Minus, atque.</p>
            <p class="article-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, eos vitae. Amet aspernatur blanditiis ducimus provident voluptate velit repudiandae dolores praesentium ad dolor repellendus inventore placeat, doloribus culpa error temporibus?</p>
            <a href="" class="article-read-more"></a>
        </article>

        <article class="article-recent">
            <div class="article-recent-main">
                <h2 class="article-title">Welcome to the Fight Club</h2>
                <p class="article-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam corrupti nemo quidem reiciendis aperiam nisi fugiat minima odit in, debitis aliquid voluptatum repellat perferendis sit, dolor ipsum. Blanditiis, reiciendis maxime!</p>
                <a href="" class="article-read-more"></a>
            </div>
            <div class="article-recent-secondary">
                <img src="" alt="" class="article-image">
                <p class="article-info">damn my nigga</p>
            </div>

        </article>

        <article class="article-recent">
            <div class="article-recent-main">
                <h2 class="article-title">Welcome to the Fight Club</h2>
                <p class="article-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam corrupti nemo quidem reiciendis aperiam nisi fugiat minima odit in, debitis aliquid voluptatum repellat perferendis sit, dolor ipsum. Blanditiis, reiciendis maxime!</p>
                <a href="" class="article-read-more"></a>
            </div>
            <div class="article-recent-secondary">
                <img src="" alt="" class="article-image">
                <p class="article-info">damn my nigga</p>
            </div>

        </article>

        <article class="article-recent">
            <div class="article-recent-main">
                <h2 class="article-title">Welcome to the Fight Club</h2>
                <p class="article-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam corrupti nemo quidem reiciendis aperiam nisi fugiat minima odit in, debitis aliquid voluptatum repellat perferendis sit, dolor ipsum. Blanditiis, reiciendis maxime!</p>
                <a href="" class="article-read-more"></a>
            </div>
            <div class="article-recent-secondary">
                <img src="" alt="" class="article-image">
                <p class="article-info">damn my nigga</p>
            </div>

        </article>

    </main>

    <aside class="sidebar">
        <div class="sidebar-widget">
            <h2 class="widget-title">About Me</h2>
            <img src="" alt="" class="widget-image">
            <p class="widget-body">this is not the end this is not the begginig just a voice like a roit rocking like a revision</p>
        </div>

        <div class="sidebar-widget">
            <h2 class="widget-title">Recent posts</h2>
            <div class="widget-recent-post">
                <h3 class="widget-recent-post-title">multiverse of madness</h3>
                <img src="" alt="" class="widget-image">
            </div>
            <div class="widget-recent-post">
                <h3 class="widget-recent-post-title">crows zero</h3>
                <img src="" alt="" class="widget-image">
            </div>
            <div class="widget-recent-post">
                <h3 class="widget-recent-post-title">Barfi</h3>
                <img src="" alt="" class="widget-image">
            </div>
        </div>

    </aside>
</div>