.container{
    width: 90%;
    max-width:960px;
    margin:0 auto;
}

.container-flex{
    display:flex;
    flex-direction:row;
}





@media (max-width:675px){
    .container-flex{
        flex-direction: column;
    }
}