
<h1>Lets start <span>getting more</span> fancy</h1>
<img src="../../../assets/shanks.jpg">

<div class="columns">
    <div class="col col-1">
        <h2>
            What is Lorem Ipsum?</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
    </div>

    <div class="col-2">
        <h2>Why do we use it?</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt eum sit velit quae eos mollitia atque maiores! Voluptatibus quaerat molestias ullam consectetur, animi doloremque neque dolorum architecto, ad numquam eum.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>

    <div class="col col-bg col-1">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias et dolorum, possimus deleniti nihil officiis facere natus porro at quod, eius, atque alias repellendus non ex iste debitis dicta ullam?</p>
    </div>
</div>

<div class="columns">
    <div class="col-3">
        <h2>Where does it come from?</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad praesentium, earum, in saepe dolor ut voluptas eligendi distinctio, quasi fugit harum nihil rerum? Veritatis similique nisi praesentium excepturi accusantium natus.</p>
    </div>

    <div class="col col-bg col-1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus cupiditate porro, obcaecati autem earum illum nisi deleniti, suscipit eveniet saepe laborum vitae numquam a itaque minus neque blanditiis soluta non!</p>
    </div>
</div>